<div class="main">
  <div class="container" id="container" [class.active]="isActive">
    <div class="form-container sign-up">
      <form (submit)="handleSignUp()">
        <h1>Créer un compte</h1>
        <div class="social-icons">
          <a href="#" class="icon"><fa-icon [icon]="faGoogle"></fa-icon></a>
          <a href="#" class="icon"><fa-icon [icon]="faFacebook"></fa-icon></a>
          <a href="#" class="icon"><fa-icon [icon]="faGithub"></fa-icon></a>
          <a href="#" class="icon"><fa-icon [icon]="faLinkedin"></fa-icon></a>
        </div>
        <span>ou utilisez votre email pour vous inscrire</span>
        <input type="text" placeholder="Nom" name="name" required>
        <input type="email" placeholder="Email" name="email" required>
        <input type="password" placeholder="Mot de passe" name="password" required>
        <button type="submit">S'inscrire</button>
        <p class="account-message">
          Vous avez déjà un compte ?
          <a (click)="toggle()" routerLink="/login" routerLinkActive="active"
             id="login" class="account-message-link">Se connecter
          </a>
        </p>
      </form>
    </div>
    <div class="form-container sign-in">
      <form *ngIf="isSignInFormVisible" (submit)="handleSignIn()">
        <h1>Se connecter</h1>
        <div class="social-icons">
          <a href="#" class="icon"><fa-icon [icon]="faGoogle"></fa-icon></a>
          <a href="#" class="icon"><fa-icon [icon]="faFacebook"></fa-icon></a>
          <a href="#" class="icon"><fa-icon [icon]="faGithub"></fa-icon></a>
          <a href="#" class="icon"><fa-icon [icon]="faLinkedin"></fa-icon></a>
        </div>
        <span>ou utilisez votre email et mot de passe</span>
        <input type="email" placeholder="Email" name="email" required>
        <input type="password" placeholder="Mot de passe" name="password" required>
        <a href="#" id="forget-password" routerLink="/forgot-password" routerLinkActive="active">Mot de passe oublié ?</a>
        <button type="submit">Se connecter</button>
        <p class="account-message">
          Vous n'avez pas de compte ?
          <a (click)="toggle()" routerLink="/register" routerLinkActive="active"
             id="register" class="account-message-link">S'inscrire
          </a>
        </p>
      </form>

      <form *ngIf="isForgetPasswordFormVisible" (submit)="handleForgetPassword()">
        <h1>Mot de passe oublié</h1>
        <p class="reset-message">Entrez l'adresse email associée à votre compte et nous vous enverrons un lien pour
          réinitialiser votre mot de passe.</p>
        <input type="email" placeholder="Email" name="email" required>
        <button type="submit">Réinitialiser le mot de passe</button>
        <p class="remember-password">
          Vous vous souvenez de votre mot de passe ? <a routerLink="/login" routerLinkActive="active" id="return-to-sign-in" class="account-message-link"
                                                        (click)="showSignInForm()">Se connecter</a>
        </p>
      </form>
    </div>
    <div class="toggle-container">
      <div class="toggle">
        <div class="toggle-panel toggle-left">
          <h1>Revenez !</h1>
          <p>Entrez vos informations personnelles pour profiter de toutes les fonctionnalités du site</p>
          <button routerLink="/login" routerLinkActive="active" (click)="toggle()"
                  class="toggle-hidden" id="toggle-login">Se connecter
          </button>
        </div>
        <div class="toggle-panel toggle-right">
          <h1>Salut !</h1>
          <p>Inscrivez-vous avec vos informations personnelles pour profiter de toutes les fonctionnalités du site</p>
          <button routerLink="/register" routerLinkActive="active" (click)="toggle()"
                  class="toggle-hidden" id="toggle-register">S'inscrire
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
